
.input {
    flex-grow: 1;
    margin-right: 10px;
}
  
.input-field {
    width: 100%;
    height: 23px;
    border-radius: 3px;
    border: solid 1px grey;
    line-height: 23px;
    font-size: 10px;
}
  
.input-field:focus {
    border: solid 1px tomato;
}
  