
/* div {
    background-color: skyblue;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: solid slateblue 5px;
    box-sizing: border-box;

} */


.UI-kit {
  background-color: skyblue;
  margin: 10px;
  padding: 10px;
  color: white;
  display: inline-block;
  width: 80vh;
}

.UI-kit_header {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    color: black;
}

.UI-kit_git-repo-tile {
    margin: 10px;
    display: inline-block;
    width: 19vh;
    height: 200px;
    background-color:blue;
}

.UI-kit_git-repo-tile_title {
    color: black;
    background-color: white;
}

.repository-list {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color:blue;
}

.repository-list_header {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    color: black;
}

.git-repo-element {
    background-color: white;
    margin: 10px;
    padding: 10px;  
}

.cont {
    display: flex;
}


.input {
    margin: 10px;
    padding: 10px;
}

.input_element {
    background-color: cadetblue;
    width: 19vh;
    height: 200px;
}