.git-repo-tile_pic {
    margin: 5px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    display: inline-block;
    background-color: tomato;
    width: 50px;
    color: white;
    height: 50px;
  }