
.git-repo-tile {
    border: solid 1px rgb(142, 149, 155);
    padding: 5px;
    width: 100%;
    font-size: 40px;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
  }
  
  .git-repo-tile:hover {
    box-shadow: 0px 0px 5px rgb(19, 20, 21);
  }
  
  .git-repo-tile__footer {
    display: inline-block;
  }
  .git-repo-tile_stars {
    display: inline-block;
  }
  
  .git-repo-tile_pic {
    margin: 5px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    display: inline-block;
    background-color: tomato;
    width: 50px;
    color: white;
    height: 50px;
  }
  
  .git-repo-tile_inner {
    padding: 10px;
    display: inline-block;
    font-size: 10px;
  }
  
  .git-repo-tile_inner_name {
    font-display: bold;
    text-overflow: ellipsis;
  }
  
  .git-repo-tile_inner-star {
    color: slategray;
    display: inline-block;
    margin-right: 20px;
  }


  .git-repo-tile_updated {
    color: slategray;
    display: inline-block;
    
  }
  
  .git-repo-tile_inner_img {
    text-align: center;
    line-height: 10px;
    height: 10px;
    width: 10px;
  }
  
  .git-repo-tile__org-link {
    color: slategray;
    width: 100%;
  }
  
  .git-repo-tile__org-link:hover {
    color: rgb(66, 63, 220);
  }