.git-repo-tile {
    border: solid 1px rgb(142, 149, 155);
    padding: 10px;
    width: 24vh;
    font-size: 40px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.git-repo-tile:hover {
    border: solid 1px rgb(19, 20, 21);
    padding: 10px;
    width: 24vh;

    font-size: 40px;
    border-radius: 4px;
}

.git-repo-tile_pic {
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    display: inline-block;
    background-color:tomato;
    width: 50px;
    color: white;
    height: 50px;
}

.git-repo-tile_inner {
    padding: 10px;
    display: inline-block;
    font-size: 10px;
    /* vertical-align: ; */
}

.git-repo-tile_inner_name {
    font-display: bold;
    text-overflow: ellipsis;
}

.git-repo-tile_inner-star {
    color:slategray;
    display: inline-block;

}
 
.git-repo-tile_inner_img {
    text-align: center;
    line-height: 10px;
    height: 10px;
    width: 10px;
}

.git-repo-tile__org-link {
    color:slategray;

}

.git-repo-tile__org-link:hover {
    color: rgb(66, 63, 220);
}


.repo-list {
    padding: 20px;
    margin:20px;
    width: 25vh;
    border-radius: 5px;
    border: solid 1px grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input {
    display: inline-block;
    width: 19vh;
    height: 35px;
    color: skyblue;
}



.input-field {
    width: 16vh;

    height: 23px;
    /* margin: 5px; */
    border-radius: 3px;
    border: solid 1px grey;
    line-height: 23px;
    font-size: 10px;
}

.input-field:focus {
    width: 150px;
    height: 23px;
    margin: 5px;
    border-radius: 3px;
    border: solid 1px tomato;
    line-height: 23px;
    font-size: 10px;
}

.input-field:disabled {
    
}

.search-button {
    margin: 3px;
    width: 35px;
    height: 35px;
    background-color: tomato;
    display: inline-block;

    text-align: center;
    line-height: 36px;

    border-radius: 5px;
    
    
}

.search-button_img {
    height: 13px;
    width: 13px;
}

.search-button:hover {
    margin: 3px;
    width: 35px;
    height: 35px;
    background-color: rgb(230, 147, 133);
    display: inline-block;

    text-align: center;
    line-height: 36px;

    border-radius: 5px;
    
}

.search-button:disabled {
    margin: 3px;
    width: 35px;
    height: 35px;
    background-color: rgb(160, 160, 159);
    display: inline-block;

    text-align: center;
    line-height: 36px;

    border-radius: 5px;
    
}

.search-element {
    display: flex;
    margin-bottom: 5px;

}

