<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="index.css" />

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="repo-list">
      <div class="search-element">
        <div class="input">
          <input
            class="input-field"
            placeholder="Введите название оргинизации"
          />
        </div>
        <div class="search-button">
          <img class="search-button_img" src="../img/search.png" alt="star" />
        </div>
      </div>

      <div class="git-repo-tile">
        <div class="git-repo-tile_pic">K</div>
        <div class="git-repo-tile_inner">
          <div class="git-repo-tile_inner_name">kts-school-frontend</div>
          <a class="git-repo-tile__org-link"> ktsstudio</a>
          <br />
          <div class="git-repo-tile__footer">
            <div class="git-repo-tile_stars">
              <img
                class="git-repo-tile_inner_img"
                src="../img/icons8-star-24.png"
                alt="star"
              />
              <div class="git-repo-tile_inner-star">123</div>
            </div>
            <div class="git-repo-tile_inner-star">Updated 21 July</div>
          </div>
        </div>
      </div>

      <div class="git-repo-tile">
        <div class="git-repo-tile_pic">K</div>
        <div class="git-repo-tile_inner">
          <div class="git-repo-tile_inner_name">kts-school-frontend</div>
          <a class="git-repo-tile__org-link"> ktsstudio</a>
          <br />
          <div class="git-repo-tile__footer">
            <div class="git-repo-tile_stars">
              <img
                class="git-repo-tile_inner_img"
                src="../img/icons8-star-24.png"
                alt="star"
              />
              <div class="git-repo-tile_inner-star">123</div>
            </div>
            <div class="git-repo-tile_inner-star">Updated 21 July</div>
          </div>
        </div>
      </div>

      <div class="git-repo-tile">
        <div class="git-repo-tile_pic">K</div>
        <div class="git-repo-tile_inner">
          <div class="git-repo-tile_inner_name">kts-school-frontend</div>
          <a class="git-repo-tile__org-link"> ktsstudio</a>
          <br />
          <div class="git-repo-tile__footer">
            <div class="git-repo-tile_stars">
              <img
                class="git-repo-tile_inner_img"
                src="../img/icons8-star-24.png"
                alt="star"
              />
              <div class="git-repo-tile_inner-star">123</div>
            </div>
            <div class="git-repo-tile_inner-star">Updated 21 July</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
