
/* div {
    background-color: skyblue;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: solid slateblue 5px;
    box-sizing: border-box;

} */


.UI-kit {
    
  background-color: skyblue;
  margin: 10px;
  padding: 10px;
  color: white;
  display: inline-block;
  width: 80vh;

}

.UI-kit-cont {
    background-color: rebeccapurple;

}

.UI-kit_header {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    color: black;
}

.UI-kit_git-repo-tile {
    margin: 10px;
    padding: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 19vh;
    background-color:blue;
}

.UI-kit_git-repo-tile_title {
    color: black;
    background-color: white;
}

.repository-list {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color:blue;
}

.repository-list_header {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    color: black;
}

.git-repo-element {
    background-color: white;
    margin: 10px;
    padding: 10px;  
}

.cont {
    display: flex;
}


.input {
    width: 70vh;
    margin: 0px;
    padding: 0px;

    background-color: rosybrown;
}

.input_header {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    color: black;
}

.input_element {
    background-color: cadetblue;
    width: 19vh;
}

.input_disabled {
    width: 15vh;
}

.input_focus {
    width: 15vh;
}

.input_idle {
    width: 15vh;
}


.buttons {
    margin: 10px;
    padding: 10px;
    background-color: rebeccapurple;
    width: 80%;
    display: inline-block;
}

.buttons_text {

    background-color: red;
}


.buttons_element {
    display: inline-block;
    width: 19vh;
    background-color: tomato;
}

.icon {
    /* default_background */

    height: 10px;
    width: 10px;

/* accent */
background: #FF5555;

}

.git-repo-element_image {
    background-color: black;
}


.git-repo-element_info {
    background-color: chocolate;
}