<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href = "index.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    
</head>
<body>

    <div class="cont">

    <span class="UI-kit">

        <div class = "UI-kit-cont">
            <div class = "UI-kit_header">Карточка для элемента репозитория </div>

            <span class="UI-kit_git-repo-tile">
                <div class ="UI-kit_git-repo-tile_title">hey</div>
            </span>
            
            <span class="UI-kit_git-repo-tile">
                <div class ="UI-kit_git-repo-tile_title">hey</div>
            </span>
            
            <span class="UI-kit_git-repo-tile">
                <div class ="UI-kit_git-repo-tile_title">hey</div>
            </span>
    
        </div>
        
       


        

        <div class ="input">

            <div class = "input_header">Инпут</div>
            <span class="UI-kit_git-repo-tile">
                
                <div class ="UI-kit_git-repo-tile_title">
                    input
                </div>

                <input class = "input_idle" placeholder="Введите название оргинизации">
            </span>

            <span class="UI-kit_git-repo-tile">
                
                <div class ="UI-kit_git-repo-tile_title">
                    input:focus
                </div>
                <input class = "input_focus" value="kts-school-name">

            </span>

            <span class="UI-kit_git-repo-tile">
                
                <div class ="UI-kit_git-repo-tile_title">
                    input:disabled
                    </div>
                <input disabled class = "input_disabled" value="kts-school-name">
            </span>
            
            
        </div>


        <span class= "buttons"> 
            <div class = "buttons_text">Кнопка поиска</div>

            
            <span class = "buttons_element">serach-button
                <div class = "buttons_element_pic">jopa</div>
            </span>
            <span class = "buttons_element">serach-button:hover</span>
            <span class = "buttons_element">serach-button:disabled</span>
            

        </span>




    </span>



    <span class="repository-list">
        <div class = "repository-list_header">Список репозиториев </div>
    
        
<div class = "tmp">
    <div class = tmp_pic>K</div>
    <div class="tmp_inner"> 
        <div class = "tmp_inner_name"> kts-school-frontend</div>
        <div class="tmp_inner_text" > ktsstudio</div>
        <img  class = "tmp_inner_img" src="../img/icons8-star-24.png" alt="star">
        <div class ="tmp_inner-star">123</div> 

        <div class ="tmp_inner-star">Updated 21 July</div>

    </div>
    
</div>

<div class = "tmp">
    <div class = tmp_pic>K</div>
    <div class="tmp_inner"> 
        <div class = "tmp_inner_name"> kts-school-frontend</div>
        <div class="tmp_inner_text" > ktsstudio</div>
        <img  class = "tmp_inner_img" src="../img/icons8-star-24.png" alt="star">
        <div class ="tmp_inner-star">123</div> 

        <div class ="tmp_inner-star">Updated 21 July</div>

    </div>
    
</div>

    </span>

</div>


<div class = "tmp">
        <div class = tmp_pic>K</div>
        <div class="tmp_inner"> 
            <div class = "tmp_inner_name"> kts-school-frontend</div>
            <div class="tmp_inner_text" > ktsstudio</div>
            <img  class = "tmp_inner_img" src="../img/icons8-star-24.png" alt="star">
            <div class ="tmp_inner-star">123</div> 

            <div class ="tmp_inner-star">Updated 21 July</div>

        </div>
        
</div>
</body>
</html>