
/* div {
    background-color: skyblue;
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: solid slateblue 5px;
    box-sizing: border-box;

} */


.UI-kit {
    
  background-color: skyblue;
  margin: 10px;
  padding: 10px;
  color: white;
  display: inline-block;
  width: 80vh;

}

.UI-kit-cont {
    background-color: rebeccapurple;

}

.UI-kit_header {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    color: black;
}

.UI-kit_git-repo-tile {
    margin: 10px;
    padding: 5px;
    padding-top: 5px;
    display: inline-block;
    width: 19vh;
    background-color:blue;
}

.UI-kit_git-repo-tile_title {
    color: black;
    background-color: white;
}

.repository-list {
    margin: 10px;
    padding: 10px;
    display: inline-block;
    background-color:blue;
}

.repository-list_header {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    color: black;
}

.git-repo-element {
    background-color: white;
    margin: 10px;
    padding: 10px;  
}

.cont {
    display: flex;
}


.input {
    width: 70vh;
    margin: 0px;
    padding: 0px;

    background-color: rosybrown;
}

.input_header {
    background-color: brown;
    margin: 10px;
    padding: 10px;
    color: black;
}

.input_element {
    background-color: cadetblue;
    width: 19vh;
}

.input_disabled {
    margin: 10px;
    width: 15vh;
}

.input_focus {
    margin: 10px;
    border-color: red;
    width: 15vh;
}

.input_idle {
    margin: 10px;
    width: 15vh;
}


.buttons {
    margin-top: 10px;
    padding: 10px;
    background-color: rebeccapurple;
    width: 80%;
    display: inline-block;
}

.buttons_text {
    padding: 10px;
    background-color: red;
}


.buttons_element {
    display: inline-block;
    width: 19vh;
    background-color: tomato;
    align-content: center;
}

.buttons_element_pic {
    height: 50px;
    width: 50px;
    background-color: seagreen;
}
.icon {
    height: 10px;
    width: 10px;    
    background: #FF5555;

}

.git-repo-element_image {
    background-color: black;
}


.git-repo-element_info {
    font-size: 10px;
    background-color: chocolate;
}


.tmp {
    border: solid 1px rgb(142, 149, 155);
    padding: 10px;
    width: 200px;
    font-size: 40px;
    border-radius: 4px;
}

.tmp_pic {
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    display: inline-block;
    background-color:tomato;
    width: 50px;
    color: white;
    height: 50px;
}

.tmp_inner {
    padding: 10px;
    display: inline-block;
    font-size: 10px;
    /* vertical-align: ; */
}

.tmp_inner_name {
    font-display: bold;
}

.tmp_inner-star {
    color:slategray;
    display: inline-block;
}
 
.tmp_inner_img {
    text-align: center;
    line-height: 10px;
    height: 10px;
    width: 10px;
}

.tmp_inner_text {
    color:slategray;

}