<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="index.css" />

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="repo-list">
    <div class="search-element">
      <div class="input">
        <input class="input-field" placeholder="Введите название оргинизации" />
      </div>
      <div class="search-button">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z"
            fill="white" />
        </svg>

        <img class="search-button_img" src="../img/search.png" alt="star" />
      </div>
    </div>

    <div class="git-repo-tile">
      <div class="git-repo-tile_pic">K</div>
      <div class="git-repo-tile_inner">
        <div class="git-repo-tile_inner_name">kts-school-frontend</div>
        <a class="git-repo-tile__org-link"> ktsstudio</a>
        <br />
        <div class="git-repo-tile__footer">
          <div class="git-repo-tile_stars">
            <img class="git-repo-tile_inner_img" src="../img/icons8-star-24.png" alt="star" />
            <div class="git-repo-tile_inner-star">123</div>
          </div>
          <div class="git-repo-tile_inner-star">Updated 21 July</div>
        </div>
      </div>
    </div>

    <div class="git-repo-tile">
      <div class="git-repo-tile_pic">K</div>
      <div class="git-repo-tile_inner">
        <div class="git-repo-tile_inner_name">kts-school-frontend</div>
        <a class="git-repo-tile__org-link"> ktsstudio</a>
        <br />
        <div class="git-repo-tile__footer">
          <div class="git-repo-tile_stars">
            <img class="git-repo-tile_inner_img" src="../img/icons8-star-24.png" alt="star" />
            <div class="git-repo-tile_inner-star">123</div>
          </div>
          <div class="git-repo-tile_inner-star">Updated 21 July</div>
        </div>
      </div>
    </div>

    <div class="git-repo-tile">
      <div class="git-repo-tile_pic">K</div>
      <div class="git-repo-tile_inner">
        <div class="git-repo-tile_inner_name">kts-school-frontend</div>
        <a class="git-repo-tile__org-link"> ktsstudio</a>
        <br />
        <div class="git-repo-tile__footer">
          <div class="git-repo-tile_stars">
            <img class="git-repo-tile_inner_img" src="../img/icons8-star-24.png" alt="star" />
            <div class="git-repo-tile_inner-star">123</div>
          </div>
          <div class="git-repo-tile_inner-star">Updated 21 July</div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>