.repo-list {
    padding: 20px;
    margin: 20px;
    width: 370px;
    border-radius: 5px;
    border: solid 1px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.git-repo-tile {
    border: solid 1px rgb(142, 149, 155);
    padding: 5px;
    width: 100%;
    font-size: 40px;
    border-radius: 4px;
    margin-bottom: 5px;
    display: flex;
}

.git-repo-tile:hover {
     box-shadow: 0px 0px 5px rgb(19, 20, 21);
}

.git-repo-tile_stars {
    display: inline-block;
}

.git-repo-tile_pic {
    margin: 5px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    display: inline-block;
    background-color:tomato;
    width: 50px;
    color: white;
    height: 50px;
}

.git-repo-tile_inner {
    padding: 10px;
    display: inline-block;
    font-size: 10px;
}

.git-repo-tile_inner_name {
    font-display: bold;
    text-overflow: ellipsis;
}

.git-repo-tile_inner-star {
    color:slategray;
    display: inline-block;

}
 
.git-repo-tile_inner_img {
    text-align: center;
    line-height: 10px;
    height: 10px;
    width: 10px;
}

.git-repo-tile__org-link {
    color:slategray;

}

.git-repo-tile__org-link:hover {
    color: rgb(66, 63, 220);
}



.input {
    width: 80%;
}




.input-field {
    width: 100%;

    height: 23px;
    margin: 5px;
    border-radius: 3px;
    border: solid 1px grey;
    line-height: 23px;
    font-size: 10px;
}

.input-field:focus {
    border: solid 1px tomato;
}

.input-field:disabled {
    
}

.search-button {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-block-start: 5px;
    width: 28px;
    height: 28px;
    background-color: tomato;
    display: inline-block;
    flex-wrap: nowrap;

    border-radius: 5px;  
}



.search-button_img {
    height: 13px;
    width: 13px;
}


.search-element {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
}

